body{
    font-family:cursive;
    margin: 0px;
    background-image: url(https://escritoradebolsillo.files.wordpress.com/2015/06/librosss.jpg?w=640);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:100vw;
    height:100vh ;
    position: relative;
}
.header{
    border: 1px solid black;
    background-color: #568ab59c;
    padding: 0.5% 0.5% 0% 0.5;
    align-items: center;
    border-collapse: collapse;
    width: 100vw;
}
.main{
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.64);
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
}
.titulo{
    font-size: 35px;
    user-select: none;
    position: relative;
    bottom: 20px;
    text-decoration: none;
    color: black;
    padding-left: 25%;

}

.botones{
    justify-content: space-between;
    display:flex;

}

.boton{
    width:100%;
    height:100% ;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}


.Botom{
    border: 1px solid black;
    background-color: #568ab59c;
    width: 100vw;
    height: auto;
}

.Redes{
    width: 13%;
    /*Para espaciar de manera igual*/
    justify-content: space-between;
    display: flex;
    /**/
    padding: 0% 1% 0% 1%;
    border: 0% 0% 0% 0%;
    
}
.Info{
    width: 49%;
}


