.menu{
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.64);
    width: 100vw;
    height: auto;
    padding-bottom: 1%;
}
.Semestre{
    border: 1px solid black;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5%;
    margin-top: 1%;
    width: 85%;
    background-color: #d3dbe2;
    border-radius: 10px;

}
.Nsemestre{
    display: inline-block;
    margin-top: 0em;
    margin-bottom: 0em;
}
.p2{
    display: inline-block;
    margin-left: 0.5em;
}
