
.menu{
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.64);
    width: 25%;
    height: 60%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;

}

body{
    background-image: url(https://escritoradebolsillo.files.wordpress.com/2015/06/librosss.jpg?w=640);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:100vw;
    height:100vh ;
    position: relative;
    
} 
.email1{
    position: absolute;
    top: 15%;
    width: 100%;
}
.contrasena{
    position: absolute;
    top: 40%;
    width: 100%;
}
.btns{
    position: absolute;
    top: 65%;
    left: 26%; 
}
.btnIS{
    margin-top: 1%;
   
}
.BtnIS{
    margin-top: 20px;
}
input{
    margin-top: 1%;
}