<div>
    <form class="Form2" metod="get" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="menu" ALIGN="center">
        
            <h2>Inicio Sesion</h2>
            <hr>
            <div ALIGN="center" class="email1" >
                <p style="font-size: 1.2em;">Ingrese Email</p>
            <input style="width:60%;"
                id="email2" 
                type="email" 
                placeholder="Email" 
                onclick="placeholder=''"
                formControlName="email"
                >

            </div>
            <div class="contrasena">
                   <p style="font-size: 1.2em;">Ingrese contraseña</p> 
            <input style="width:60%;"
                id="Contraseña"
                type="password" 
                placeholder="contraseña" 
                onclick="placeholder=''"
                formControlName="password"
                >

            </div>
            <div class="btns" style="font-size: 1em;">
                    <div class="BtnIS">
                    <input type="submit" value="Iniciar Sesion" id="btnRegis" class="btnIS">
                    </div>

                    <div class="BtnIS">
                    <a routerLink="/Register" class="btnIS"> Registrarse</a>
                    </div>

                    <div class="BtnIS">
                    <a href="#/RecoverPassword" class="btnIS"> Recuperar contraseña</a>
                    </div>
            </div>
            
        
        
        
        </div>
    </form>
</div>
    
