.menu{
    background-color: rgba(240, 248, 255, 0.527);
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 60%;
    padding-top: 1%;
}
