<div class="menu" ALIGN="center">
    <div ALIGN="CENTER">
        <form action="" class="cambio_f">
            <h1>Cambio de contraseñas</h1>
            <h4>Correo electronico</h4>
            <input type="text" name="Correo" id="co1" placeholder="Correo electronico" onclick=" placeholder='' " >
            <h4>Contraseña</h4>
           <input type="password" name="contraseña" id="Contraseña1" placeholder=" Contraseña" onclick=" placeholder='' ">
           <h4>Confirmar Contraseña</h4>
           <input type="password" name="contraseña" id="Ccontraseña1" placeholder="Confirmar Contraseña" onclick=" placeholder='' "><p></p>
           <a href="#" class="boton6" onclick="cambios()">GUARDAR</a>
        </form>

    </div>
    

</div>

