<!--  
  <app-login></app-login>
  <app-main-menu></app-main-menu> 
  <app-register></app-register>
  <app-profile></app-profile>
  <app-semesters></app-semesters>
  <app-subjects></app-subjects>
  <app-recover-password></app-recover-password>
  <app-register></app-register>
-->
<router-outlet></router-outlet>
