.MateriaDesc{
    border: 1px solid black;
    float: left;
    padding: 1% 45% 1% 1%;
    margin-left: 5px;
}
.root{
    float:left;
}
.Ta{
    resize: none;
    margin-left: 5px;
}
.menu{
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.64);    
    width: 100vw;
    height: 100vh;
    padding-top: 1%;
    
}