<html>
    <div class="header">
        <img src="assets/imagenes/logo.png" style="height:5em ;width:9%;padding: 10px 0px 0px 10px;">
        <img src="assets/imagenes/facci logo.png" style="height:65px;width:13%;float:right;padding:18px 0px 0px 10px;">
        <b><a class="titulo" routerLink="/MainMenu" >Servicio de Asistencias Uleam</a></b> 
        <div class="botones">
            <a class="boton" routerLink="/Profile">Perfil</a>
            <a class="boton" routerLink="/Help">Ayuda</a>
            <a class="boton" routerLink="/Semesters">Semestres</a>
        </div>
    </div>


    <div class="menu">
        <div class="datosEstuiante">
            <h2 style="padding: 0% 0% 0% 1%;">Pefil de Estudiante</h2>
            <p>Nombres:</p> 
            <input class="Names" type="text"  value="Anthony Rogers" readonly> 
            <p>Apellidos:</p>
            <input class="Names" type="text" value="Arteaga Meza" readonly>         
            <br>
            <p>Telefono:</p>
            <input class="Telefono" type="text" value="0915457832" readonly>
            <p>Cedula:</p>
            <input class="Cedula" type="text" value="1309865238" readonly>
            <br>
            <p>Correo:</p>
            <input class="Correo" type="text" value="antrogartme2002@gmail.com" style="width:15em ;" readonly>
    
        </div>
        
        <div class="foto" Align="center">
            <img src="./assets/imagenes/fotoPerfil.jpg" alt="Foto de Perfil" class="fotoPerfil">
        </div>
        
        <div class="datosEstudiantil">
    
            <h2 style="padding-left: 1%;">Datos Estudiantiles</h2>
            <p>Facultad:</p>
            <input type="text" name="" id="" value="Ciencias de la vida y Tecnologia" style="width:15em ;" readonly>
            <p>Carrera: </p>
            <input type="text" name="" id="" value="Tecnologias de la informacion" style="width:15em ;" readonly>
            <br>
            <p>Semestre:</p>
            <input class="Semestre" type="text" value="5to" readonly>
            
            
        </div>
        
        <div class="datosDomicilio">
            <h2 style="padding-left: 1%;">Datos Domiciliarios</h2>
            <p>Pais :</p>
            <input type="text" name="" id="" value="Ecuador" readonly>
            <p>Provincia :</p>
            <input type="taext" name="" id="" value="Manabi" readonly>
            <br>
            <p>Cuidad/Canton :</p>
            <input type="text" name="" id="" value="Manta" readonly>
            <p>Direccion :</p>
            <input type="text" name="" id="" value="Calle 301 Av 180" readonly>
                
    
        </div>
        <div class="datosPersonales">
            <h2 style="padding-left: 1%;">Datos Personales</h2>
            <p>Genero :</p>
            <input type="text" name="" id="" value="Masculino" readonly>
            <p>Estado Civil :</p>
            <input type="text" name="" id="" value="Soltero" readonly>
            <p>Fecha de Nacimiento :</p>
            <input type="text" name="" id="" value="25/05/2002  " readonly>
            <p>Colegio :</p>
            <input type="text" name="" id="" value="Unidad Educativa 4 de noviembre" readonly style="width: 15em;">
    
    
        </div>
        <div>
            <a href="" (click)="logout()">Cerrar Sesion</a>
        </div>
    </div>

    
    <div class="Botom">
        <h2 style="margin-left: 1%;">Contactanos:</h2>
        <div class="Redes">
            <a href="https://www.facebook.com/UleamEc" target="_blank">
                <img src="assets/imagenes/logo face.png" width="40em" heigth="40em">
            </a>
            <a href="https://twitter.com/UleamEcuador?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                <img src="assets/imagenes/twiter logo.png"width=40em height="40em">
            </a>
            <a href="https://www.instagram.com/uleam_ecuador_oficial/" target="_blank">
                 <img src="assets/imagenes/instagram.png" width=40em height="40em">
            </a>
        </div>
        <hr style="width: 98%; border-color: #6790b19c;">
        <div class="Info" style="margin-left: 1%;">
            <p>Dirección: Av. Circunvalacion, Manta</p>
            <p>Manta - Manabí - Ecuador</p>
            <p>Teléfono: (05) 262-0288</p>
            <p>Fundación: 13 de noviembre de 1985</p>
        </div>
    </div>
</html>


