.menu{
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.64);
    width: 100vw;
    height: 100vh;
    
}
.datosEstuiante{
    border: 1px solid black;
    width:70%;
    /* Posicion */
    position: relative;
    left: 3%;
    top: 2%;


}
.foto{
    width: 20%;
    margin-left: 6%;
    padding: 4.1% 0% 4.1% 1%;
    /* Posicion */
    position: absolute;
    left: 70%;
    top: 25%;


    

}
.fotoPerfil{
    width: 95px;
    height: 110px;
    border-radius: 5px;
    border: 3px solid white;
    

}
p{
    display: inline-block;
    margin-left: 1%;
}
/* Inputs */
input{
    border-radius: 5px;
    margin-left: 0.5%;
}
.Names{
    margin-left: 0.5%;
    
}

.datosEstudiantil{
    border: 1px solid black;
    width:50%;
    /* Posicion */
    position: relative;
    top: 400px;
    left: 3%;
    top: 3%;
}


.datosDomicilio{
    border: 1px solid black;
    width:42%;
    position: relative;
    left: 55%;
    top: -24%;
}
.datosPersonales{
    border: 1px solid black;
    width:94%;
    position: absolute;
    top: 90%;
    left: 3%;
}