
.menu{
    width: 30%;
    background-color: rgba(240, 248, 255, 0.527);
    border-radius: 20px;
    padding-bottom: 1%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.DivEmail{
    margin-left: 20%;
    margin-right: 20%;
}
.contrasena{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
}
.confContrasena{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;

}

.BtnIS{
    margin-top: 1%;
    margin-top: 5px;

}
.nombre{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
}
.apellido{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
}
.ncedula{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
}
.nsemestre{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
}
.genero{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
}

