<div>
    <div class="menu" ALIGN="center">
        <h2>Registro</h2>
        <form class="Form1" metod="get" [formGroup]="FormRegister" (ngSubmit)="onSubmit()">
            <div ALIGN="center" class="DivEmail">
        
                Ingrese Email:
    
                <input style="width: 90%;height: 15%;"
                    id="Email" 
                    type="text" 
                    placeholder="email" 
                    onclick="placeholder='' "
                    formControlName="email">
    
            </div>
            <div class="contrasena">
                Ingrese contraseña
                <input style="width: 90%;height: 15%;"
                    id="Contrasena"
                    type="password" 
                    placeholder="contraseña" 
                    onclick="placeholder=''"
                    formControlName="password"
                >
            </div>
            <div class="confContrasena">
    
                        Confirme contraseña
    
                    <input style="width: 90%;height: 15%;"
                        id="Ccontrasena"
                        type="password"
                        placeholder="contraseña" 
                        onclick="placeholder=''"
                        formControlName="Cpassword"
                    >
    
            </div>
            <div class="nombre">
    
                Ingrese un nombre:
                <input style="width: 90%;height: 15%;"
                        id="nombre"
                        type="text" 
                        placeholder="Nombre" 
                        onclick="placeholder=''"
                        formControlName="nombre"
                    >
            </div>
            <div class="apellido">
                Ingrese un apellido:
                <input style="width: 90%;height: 15%;"
                        id="apellido"
                        type="text" 
                        placeholder="Apellido" 
                        onclick="placeholder=''"
                        formControlName="apellido"

                    >
            </div>
            <div class="ncedula">
                Ingrese numero de cedula:
                <input style="width: 90%;height: 15%;"
                        id="cedula"
                        type="text" 
                        placeholder="cedula" 
                        onclick="placeholder=''"
                        pattern="^[0-9,$]*$"
                        required=""
                        formControlName="cedula"
                >
            </div>
            <div class="nsemestre">
                Ingrese numero de semestre:
                <input style="width: 90%;height: 15%;"
                        id="semestre"
                        type="text" 
                        placeholder="numero de semestre" 
                        onclick="placeholder=''"
                        pattern="^[0-9,$]*$"
                        required=""
                        formControlName="nsemestre"
                >
            </div>
            <div class=BtnR>
                <br>
                <input type="submit" value="Enviar" id="btnRegis">
            </div>
        </form>
        
        
    </div>
</div>
    

